body {
    background-image: url("../App/Appbg.png");
  
  /* Full height */
  height: 100%;
  
  /* Center and scale the image nicely */
  
    background-size: cover;
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }